html,
body {
	font-family: Arial, Helvetica, sans-serif;
}

:root {
	--background: #f0f2f5;
	--blue: #1877f2;
	--green: #42b72a;
	--lightgrey: #dddfe2;
	--darkgrey: #90949c;
}

.login-container {
	background-color: var(--background);
	height: 100vh;
	width: 100%;

	padding: 150px 120px;
	display: flex;
}

.login-container .title {
	flex: 1;
	padding-top: 50px;
}

.login-container .title img {
	margin-left: -30px;
	margin-bottom: -15px;
	max-width: 300px;
	height: auto;
}

.login-container .title p {
	font-size: 28px;
}

.login-container .login-form {
	flex: 1;
}

.login-container .login-form .box {
	width: 396px;
	height: 345px;
	background: white;
	border-radius: 8px;
	margin: auto;
	padding: 13px 17px;

	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container .login-form .script {
	padding-top: 20px;
	text-align: center;
	font-size: 14px;
}

.login-container .login-form .script a {
	font-weight: bold;
	color: black;
	text-decoration: none;
}
